@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.center{
  font-family: 'Pacifico';
  margin-top: 4rem;
  text-transform: capitalize;
}

.container{
  width: 80rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question{
  display: block;
  border: .1rem solid rgb(185, 185, 185);
  margin: 1rem;
  width: 35rem;
  padding: 1rem;
    &-header{
    display: flex;
    justify-content: space-between;
    &-avatar{
      display: flex;
    }
  }
}

.avatar{
  width: 3rem;
  border: .1rem solid gray;
  border-radius: 50%;
  margin-right: 1rem;
}

.answerBtn{
  width: 50%;
  padding: 2rem;
  background-color: gray;
}


.meter { 
  width: 50%;
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}


th,td {
  padding: 1rem;
}